* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../images/background-mercadolivre.png");
  font-family: "Montserrat", sans-serif;
}

.chat {
  position: sticky;
}

.container {
  position: relative;
  display: block;
  float: right;
  top: 400px;
  margin: 30px;
  padding: 0;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background-color: rgb(240, 240, 240);
}

#chat-header {
  position: relative;
  height: 80px;
  background-color: #fff159;
  border-bottom: solid 1px rgb(240, 240, 240);
  border-radius: 10px 10px 0px 0px;
  align-items: center;
}

.header-info {
  width: 100%;
  height: 60px;
  padding: 5px;
  align-items: center;
}

.header-info img {
  height: 60px;
  width: 60px;
}

.header-info span {
  position: relative;
  bottom: 20px;
}

#message-list {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  overflow-y: auto;
}

#server-message {
  position: relative;
  float: left;
  background-color: rgb(220, 220, 220);
  height: fit-content;
  max-width: 100%;
  min-width: fit-content;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px 10px 10px 0px;
  margin: 0px 0px 4px 0px;
}

#user-message {
  position: relative;
  float: right;
  background-color: rgb(220, 220, 220);
  height: fit-content;
  max-width: 100%;
  min-width: fit-content;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px 10px 0px 10px;
}

.message-box {
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  align-items: center;
}

#message-input {
  border: none;
  background-color: rgb(220, 220, 220);
  outline: none;
  width: 100%;
  height: fit-content;
}

.message-box img {
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 2px;
  filter: invert(50%) sepia(1%) saturate(1112%) hue-rotate(260deg)
    brightness(100%) contrast(66%);
}

.button-container {
  position: relative;
  top: 900px;
  height: 30px;
  width: 30px;
  background-color: #fff159;
  color: black;
  border-radius: 5px;
  z-index: 100;
  float: right;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  right: 30px;
  text-align: center;
}

.button-container img {
  padding: 8px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
