* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../images/background-mercadolivre.png");
  font-family: "Montserrat", sans-serif;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}

.container {
  display: block;
  float: right;
  padding: 0;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

#chat-header {
  position: relative;
  height: 80px;
  background-color: #fff159;
  border-bottom: solid 1px rgb(240, 240, 240);
  border-radius: 10px 10px 0px 0px;
  align-items: center;
}

.header-info {
  width: 100%;
  height: 60px;
  padding: 5px;
  align-items: center;
}

.header-info img {
  height: 60px;
  width: 60px;
}

.header-info span {
  position: relative;
  bottom: 20px;
}

#message-list {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.server-message {
  position: relative;
  float: left;
  background-color: rgb(240, 240, 240);
  height: fit-content;
  max-width: 70%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px 10px 10px 0px;
  margin: 4px;
  transition: all 0.1s ease-in-out;
}

.server-message:hover {
  background-color: rgb(220, 220, 220);
}

.user-message {
  position: relative;
  float: right;
  background-color: #fff159;
  height: fit-content;
  max-width: 70%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px 10px 0px 10px;
  margin: 4px;
  transition: all 0.1s ease-in-out;
}

.user-message:hover {
  background-color: #ddcd19;
}

.message-box {
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  align-items: center;
}

#message-input {
  border: none;
  background-color: rgb(240, 240, 240);
  outline: none;
  width: 100%;
  height: fit-content;
}

.message-box img {
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 2px;
  filter: invert(50%) sepia(1%) saturate(1112%) hue-rotate(260deg)
    brightness(100%) contrast(66%);
}

.button-container {
  height: 30px;
  width: 30px;
  background-color: #fff159;
  color: black;
  border-radius: 5px;
  z-index: 100;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-self: flex-end;
  margin-top: 15px;
  transition: all 0.1s ease-in-out;
}

.button-container:hover {
  background-color: #ddcd19;
}

.button-container img {
  padding: 8px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

#message-list img {
  max-width: 80%;
  max-height: 80%;
  margin: 4px;
  border-radius: 10px;
  border: solid 1px rgb(240, 240, 240);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220);
  border-radius: 5px;
}
